.regles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0;

}

.text-regles{
    background-color: gray;
    margin: 4em 4em;
    border-radius: 1em;
}
.text-regles > p{
    margin: 1em 2em;
}

.text-regles > img{
    height: 10em;
    width: auto;
    border-radius: 1em;

}

.text-regles > img:first-child{
    margin-top: 1em;
}