/* IMPORTATION DE TOUS LES FICHIERS.css */

@import url(accueil.css);
@import url(regles.css);
@import url(niveaux.css);
@import url(game.css);
@import url(findepartie.css);
@import url(editeur.css);


body{
    /* INITIALISATIONS DES MARGES ET DU FOND DE PAGE COMMUN A CHAQUE PAGE */
    width: 100vw;
    height: 100vh;
    margin:0;
    background-color: black;
    background-image: url(./../img/fond_menu.png);
    background-size:cover;
    background-repeat: no-repeat;
}
